body {
    background-color: #eee !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    cursor: pointer;
}

.overflow-auto {
    overflow-y: auto;
    max-height: 400px;
}

.set {
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error-pages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 550px;
}

.error-pages h3 {
    color: #214764;
}

.error-form {
    text-align: center;
    color: red;
    font-size: 12px;
}

.success-form {
    text-align: center;
    color: green;
    font-size: 12px;
}

.error {
    color: red;
    position: absolute;
    right: 0;
    font-size: 12px;
    bottom: -20px;
}

.success-message {
    color: green;
    position: absolute;
    right: 0;
    font-size: 12px;
    bottom: -20px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-heading {
    text-align: center;
    margin: 30px 0;
}

.white-block {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto 40px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #214764;
    padding: 16px 20px;
    color: #fff;
}

.text-center {
    text-align: center;
}

.right-side {
    display: flex;
    align-items: center;
}

.left-side {
    min-width: 256px;
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 91px;
    bottom: 0;
    background-color: rgb(255 255 255 / 22%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header button {
    color: #fff !important;
    text-transform: capitalize;
}